@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Vazir', sans-serif;
  --main-color: #111827;
  scroll-behavior: smooth;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.ig-link {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: brightness(75%);
}